venv/
paper/
data/
logs/
__pycache__/
*.pyc
.env
*.log
.vscode/
.idea/
*.zip

# Ignore LaTeX build files, but KEEP the source (.tex)
laporan/*.aux
laporan/*.log
laporan/*.fls
laporan/*.fdb_latexmk
laporan/*.gz
laporan/*.out
laporan/*.toc
laporan/*.lof
laporan/*.lot
laporan/*.bbl
laporan/*.blg